{% macro render_field(field, class_="", auto_focus=False) %}
<div class="clearfix {% if field.errors %}error{% endif %}">
  {% if field.label %}
  <label for="{{ field.name }}" class="control-label">{{ field.label.text }}
    {% if field.flags.required %}*{% endif %}:
  </label>
  {% endif %}
  <div class="controls">
    {% if field.flags.required %}
      {% set class_ = class_ + " required" %}
    {% endif %}
    {% if auto_focus %}
        {{ field(autofocus=auto_focus, class_=class_, **kwargs) }}
    {% else %}
        {{ field(class_=class_, **kwargs) }}
    {% endif %}
    {% if field.description %}
    <br/><span class="help-inline">{{ field.description }}</span>
    {% endif %}
    {% for error in field.errors %}
    <br/><span class="help-inline">{{ error|string }}</span>
    {% endfor %}
  </div>
</div>
{% endmacro %}
