{% extends "default/layout.html" %}{% from "default/_helpers.html" import render_field %}
{% block title %}{{ _("Product location") }}{% endblock %}
{% block body %}
{% include 'default/nav.html' %}
<div class="row">
    <div class="span12">
        <h2>{{ _("Product location") }}</h2>
    </div>
</div>

<script type="text/javascript">
$(function() {  
    $("#product-location").click(function() {  
        $('#ploc-data').text('Enviant dades...');

        var data = $('#product-form').serializeArray();

        $.ajax({
            type: "POST",
            url: "{{ url_for('product_location') }}",
            contentType: "application/json; charset=utf-8",
            data:JSON.stringify(data),
            success: function(data) {
                $('#ploc-data').text(data.location);
                },
            error:function(data){
                $('#ploc-data').text("{{ _('Error connection server') }}");
                },
            });
        return false;
    });  
});  
</script>

<div class="row">
    <div class="span6">
        <h4>{{ _("Add new product location") }}:</h4>
        <form id="location-form"  action="{{ url_for('location') }}" class="form-horizontal" method="POST">
            {{ render_field(form.location, class_="", placeholder=_("Location")) }}
            {{ render_field(form.ean13, class_="", placeholder=_("EAN13"), auto_focus=True) }}
            <hr/>
            <div class="controls">
                <button class="btn btn-primary btn-sm" type="submit">{{ _("Save") }}</button>
            </div>
        </form>
    </div>
    <div class="span6">
        <h4>{{ _("Search location by product") }}:</h4>
        <form id="product-form"  action="#" class="form-horizontal" method="POST">
            <div class="clearfix ">
                <input class="required" id="product-ean13" name="product-ean13" placeholder="EAN13" type="text" value="">
            </div>
            <div id="ploc-data"></div>
            <hr/>
            <div class="controls">
                <button id="product-location" class="btn btn-primary btn-sm" type="submit">{{ _("Search") }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

