{% extends "default/layout.html" %}{% from "default/_helpers.html" import render_field %}
{% block title %}{{ _("Inventory") }}{% endblock %}
{% block body %}
{% include 'default/nav.html' %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ _("Inventory") }}</h2>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $("#product-save-stock").click(function() {  
        $('#message-save').text('{{ _("Sending") }}...');

        var data = $('#stock-form').serializeArray();

        $.ajax({
            type: "POST",
            url: "{{ url_for('stock_save') }}",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function(data) {
                $('#message-save').text(data.message);
                $('#message-save').css('color', data.color);
                },
            error:function(data){
                $('#message-save').text("{{ _('Wrong user access or connection server error. Try again.') }}");
                $('#message-save').css('color', 'red');
                },
            });
        return false;
    });  

    $("#product-get-stock").click(function() {  
        $('#message-get').text('{{ _("Sending") }}...');
        $('#message-stock').text('');

        var data = $('#product-form').serializeArray();

        $.ajax({
            type: "POST",
            url: "{{ url_for('product_get_stock') }}",
            contentType: "application/json; charset=utf-8",
            data:JSON.stringify(data),
            success: function(data) {
                $('#message-get').text(data.message);
                $('#message-stock').text(data.stock);
                $('#message-get').css('color', data.color);
                },
            error:function(data){
                $('#message-get').text("{{ _('Wrong user access or connection server error. Try again.') }}");
                $('#message-get').css('color', 'red');
                },
            });
        return false;
    });  
});  
</script>

<div class="row">
    <div class="col-md-6">
        <h4>{{ _("Search location and quantity by product") }}:</h4>
        <form id="product-form" action="#" class="form-horizontal" method="POST">
            <div class="clearfix ">
                <input class="required" id="product-ean13" name="product-ean13" placeholder="EAN13" type="text" value="">
            </div>
            <div id="message-get"></div>
            <div id="message-stock"></div>
            <hr/>
            <div class="controls">
                <button id="product-get-stock" class="btn btn-primary btn-sm" type="submit">{{ _("Search") }}</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4>{{ _("Add new stock product (inventory)") }}:</h4>
        <form id="stock-form" action="#" class="form-horizontal" method="POST">
            {{ render_field(form.ean13, class_="", placeholder=_("EAN13"), auto_focus=True) }}
            {{ render_field(form.qty, class_="", placeholder=_("Qty")) }}
            <div id="message-save"></div>
            <hr/>
            <div class="controls">
                <button id="product-save-stock" class="btn btn-primary btn-sm" type="submit">{{ _("Save") }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

